html{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

img{
    max-width: 100%;
}

.game-board{
    display: grid;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid black;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 50px 200px;
}
/*delete this later*/
.game-board *
{
    border: 1px solid black;
}
.game-ui{
    grid-column: 1/4;
    grid-row: 1/2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.player-img-container{
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: coral;
}
.monster-img-container
{
    grid-column: 3/4;
    grid-row: 2/3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: coral;
}
.combat-area{
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
}
.game-log{
    height: 200px;
    grid-column: 1/4;
    grid-row: 4/5;
    display: block;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
    overflow-y: scroll;
    overflow-block: hidden;
}
canvas{
    height: 100%;
    width: 100%;
}
.monster-log{
    background-color: pink;
}
.round-ball{
    background-color: black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 5px;
    color: white;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    font-size: 2em;
}
.round-info{
    display: flex;
    grid-column: 1/4;
    justify-content: center;
}
.red-b{
    background-color: red;
}
.menu-btn-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 800px;
    margin: 10px auto;
}
button{
    width: 150px;
    height: 50px;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
}
button:hover{
    background-color: lightgrey;
}